@import "tailwindcss";
@plugin "daisyui";


@custom-variant dark (&:where(.dark, .dark *));

/* Hide horizontal scrollbar */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
